<app-header></app-header>
<main>
    <section class="main-section pad-70">
        <div class="headline">
            <span>KIPPER CONSULTORIA</span>
            <h1>A consultoria que você busca para seu software</h1>
        </div>
        <img ngSrc="/assets/principal.png" width="669" height="536">
    </section>
    <section class="benefit-section pad-70">
        <div class="benefit-data">
            <h2>
                95% das<br/>
                empresas
            </h2>
        </div>
        <p>não sabem como lidar com problemas de <b>escalibilidade</b> e grande volume de requisições.</p>
    </section>
    <section class="cta-section">
        <btn-primary btn-text="fale com nossos especialistas"></btn-primary>
    </section>
    <newsletter-form></newsletter-form>
    <section class="benefit-section pad-70">
        <benefit-card
            card-title="Equipe capacitada"
            img-path="/assets/team.png"
            card-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur."
        >
        </benefit-card>
        <benefit-card
            card-title="Seus projetos guiados do zero"
            img-path="/assets/project-guide.png"
            card-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur."
        >
        </benefit-card>
    </section>
    <section class="cta-section pad-70">
        <h2>Quer elevar seu software e seus<br/>
        negócios para outro nível?</h2>
        <btn-primary btn-text="fale com nossos especialistas"></btn-primary>
    </section>
    <app-footer></app-footer>
</main>